// Microsoft Visual C++ generated resource script.
//
//#include "resource.h"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

IDI_ICON1               ICON                    "window-icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", "WebKugou客户端"
            VALUE "FileVersion", "1, 0, 0, 0"
            VALUE "InternalName", "WebKugou"
            VALUE "LegalCopyright", "仅供交流，请勿用于商业用途"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "WebKugou.exe"
            VALUE "ProductName", "WebKugou客户端"
            VALUE "ProductVersion", "1, 0, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END



